<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> Pour elle - Cosmetics</title>

	<link rel="shortcut icon" href="../img/favicon.png">
	<link rel="stylesheet" href="../src/style.css">

</head>

<body class="body">
	<header>
		<!-- Hacemos un header con tres bloques (elementos en bloque) -->
		<!-- 1-Bloque con contiene el número de teléfono -->
		<div class="cel">
			<p> Tienda telefonica 1150950580 </p>
		</div>
		<!-- 2-Bloque que contiene -->
		<div class="div__logo">
			<a href="../index.html">
				<img class="logo" src=../img/pourrelle-small.png alt="logo de cosmeticos">
			</a>
			<form class="search" action="#">
				<input type="text" placeholder=" Search Courses" name="search">
			</form>
		<div></div>
		</div>
		<!-- 3-Bloque que contiene la barra de navegación-->
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav_list_item transform_nav"><a href="./productos.html">Productos</a></li>
				<li class="nav_list_item transform_nav"><a href="./promociones.html">Promociones</a></li>
				<li class="nav_list_item transform_nav"><a href="./nosotros.html">Nosotros</a></li>
				<li class="nav_list_item transform_nav"><a href="./contacto.html">Contacto</a></li>
			</ul>
		</nav>
	</header>

	<main class="products">
		<h1 class="products--h1">Nuestros productos para vos</h1>

	    <section class="products__gallery">
	     	<div class="products__gallery__container">
	     		<img class="products__gallery__container--img transform_gallery" src="../img/productouno.jpg">
	     	</div>
	     	<div class="products__gallery__container">
		        <img class="products__gallery__container--img
		        transform_gallery" src="../img/productodos.jpg">
		    </div>
		    <div class="products__gallery__container">
		        <img class="products__gallery__container--img
		        transform_gallery" src="../img/productotres.jpg">
		    </div>
		    <div class="products__gallery__container">
		        <img class="products__gallery__container--img
		        transform_gallery" src="../img/productocuatro.jpg">
		    </div>
		    <div class="products__gallery__container">
		        <img class="products__gallery__container--img
		        transform_gallery" src="../img/productocinco.jpg">
		    </div>
		    <div class="products__gallery__container">
		        <img class="products__gallery__container--img
		        transform_gallery" src="../img/productoseis.jpg">
		    </div>
	     
		</section>
	</main>


	<footer>
		<div class="footer_div1">
			<a href="https://www.facebook.com/malehoran" target="_blank">
				<img class="footer__img" src="../img/facebookd.png" alt="logo de facebook">
			</a>
			<a href="https://www.instagram.com/malenabustos_/" target="_blank">
				<img class="footer__img" src="../img/instagramd.png" alt="logo de instagram">
			</a>
			<a href="https://www.whatsapp.com" target="_blank">
				<img class="footer__img" src="../img/whatsappd.png" alt="logo de whatsapp">
			</a>
		</div>
		<div class="footer_div2">
			 <p class="div2_p">Derechos de autor 2022</p>
		</div>
	</footer>
	
	
</body>
</html>

