<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> Pour elle - Cosmetics</title>

	<link rel="shortcut icon" href="../img/favicon.png">
	<link rel="stylesheet" href="../src/style.css">

</head>

<body class="body">
	<header>
		<!-- Hacemos un header con tres bloques (elementos en bloque) -->
		<!-- 1-Bloque con contiene el número de teléfono -->
		<div class="cel">
			<p> Tienda telefonica 1150950580 </p>
		</div>
		<!-- 2-Bloque que contiene -->
		<div class="div__logo">
			<a href="index.html">
				<img class="logo" src=../img/pourrelle-small.png alt="logo de cosmeticos">
			</a>
			<form class="search" action="#">
				<input type="text" placeholder=" Search Courses" name="search">
			</form>
		<div></div>
		</div>
		<!-- 3-Bloque que contiene la barra de navegación-->
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav_list_item transform_nav"><a href="../views/productos.html">Productos</a></li>
				<li class="nav_list_item transform_nav"><a href="../views/promociones.html">Promociones</a></li>
				<li class="nav_list_item transform_nav"><a href="../views/nosotros.html">Nosotros</a></li>
				<li class="nav_list_item transform_nav"><a href="../views/contacto.html">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<div class="div_img_promo">
				<img src="../img/promo.png" alt="promociones">
			</div>
			<h1>Promociones de invierno</h1>
			<table border="4px" cellpadding="4px" cellspacing="4px">
			
				<tr>
					<th>Productos seleccionados</th>
					<th>Precio</th>
				</tr>
				<tr>
					<td> 50% off en Keratina 500ml</td>
					<td>$350</td>
				</tr>
				<tr>
					<td> 2X1 llevando 2 shampoo o mas</td>
					<td>$600</td>
				</tr>
			</table>
		s</section>
	</main>
	<footer>
		<div class="footer_div1">
			<a  href="https://www.facebook.com/malehoran" target="_blank">
			<img class="footer__img" src="../img/facebook2.png" alt="logo de facebook">
		    </a>
		    <a href="https://www.instagram.com/malenabustos_/" target="_blank">
			   <img class="footer__img" src="../img/instagramd.png" alt="logo de instagram">
		    </a>
		    <a href="https://www.whatsapp.com"   target="_blank">
			   <img class="footer__img" src="../img/whatsappd.png" alt="logo de whatsapp">
		    </a>
		</div>
		<div class="footer_div2">
			<p class="div2_p">Derechos de autor 2022</p>
		</div>
	</footer>
</html>